<div class="container d-flex justify-content-center align-items-center">
    <img class="logo-volluvel-mobile" src="../../../assets/img/logo-mobile.png">
</div>

<div class="icons d-flex justify-content-around">
    <button>
        <img class="menu" src="./../../../assets/img/menu-aberto.png" alt="">
    </button>
    <button>
        <img class="lupa" src="./../../../assets/img/lupa.png" alt="">
    </button>
    <button>
        <img class="user" src="./../../../assets/img/avatar.png" alt="">
    </button>
    <button>
        <img class="carrinho" src="./../../../assets/img/sacola-de-compras.png" alt="">
    </button>
</div>